* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.greetingBar {
  background-color: #dfe3df;
  padding: 1rem;
  color: rgb(99, 99, 99);
  text-align: center;
}
.screen {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 2px solid #33333323;
  height: 5rem;
  width: 5rem;
  color: rgba(109, 103, 103, 0.705);
  background-color: white;
  cursor: pointer;
}
.form input[type="text"] {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ccccccbb;
  border-radius: 4px;
}
.form ::-webkit-input-placeholder {
  color: #7575759d;
}
.form button {
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border: none;
  border-radius: 4px;
  background-color: #65676556;
  color: rgba(79, 76, 76, 0.652);
  cursor: pointer;
}

